.full-post {

  $content-side-padding-horizontal-layout: 1rem;
  $content-side-padding-vertical-layout: 1rem;

  background-color: white;

  .cover {
    width: 100%;
    min-height: 10rem;

    @include mq-horizontal-layout {
      font-size: 4rem;
      padding: 3rem;
    }
    @include mq-vertical-layout {
      font-size: 3rem;
      padding: 2rem;
    }

    text-transform: lowercase;

    &.cover-image {
      color: white;
    }
    &.text-only {
      border-bottom: 1px solid #000;
    }

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    box-sizing: border-box;

    p {
      margin: 0;
    }

    .intro {

      @include mq-horizontal-layout {
        display: none;
      }

      padding-top: 2rem;
      width: 100%;
      text-align: right;
      font-size: 1.2rem;
      .intro-text {
        font-size: 0.6rem;
      }

    }

  }

  .content {

    font-size: 1.1rem;
    font-weight: 200;

    word-wrap: break-word;

    p {
      display: inline-block;
      width: 100%;
    }

    a {
      font-weight: 400;
      text-decoration: underline;
    }

    .date {
      display: block;
      text-align: right;
      text-transform: lowercase;
      color: #777;
    }

    @include mq-horizontal-layout {
      padding: $content-side-padding-horizontal-layout 2*$content-side-padding-horizontal-layout;
      .date {
        padding: $content-side-padding-horizontal-layout 0;
      }
      p {
        margin-top: $content-side-padding-horizontal-layout;
        margin-bottom: $content-side-padding-horizontal-layout;
      }
      img {
        width: 100%;
      }
    }
    @include mq-vertical-layout {
      padding: $content-side-padding-vertical-layout;
      padding-bottom: 0;
      .date {
        padding-bottom: $content-side-padding-vertical-layout;
      }
      p {
        margin: 0;
        margin-bottom: 1rem;
      }
      img {
        width: 100vw;
        margin-left: -$content-side-padding-vertical-layout;
      }
    }

  }

  @import "share_toolbar";

}

#disqus_thread:not(:empty) {
  padding-top: 2rem;
}
