@import "media_queries";

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 100;
  @include mq-horizontal-layout {
    overflow: hidden;
    background-color: rgb(53, 53, 53);
  }
}

a {
  text-decoration: none;
  color: inherit;
}

code {

  font-size: 1.25em;
  font-weight: bold;

  pre > & {
    font: inherit;
  }

}
