@import "media_queries";

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 100;
  @include mq-horizontal-layout {overflow: hidden;}
}

a {
  text-decoration: none;
  color: inherit;
}
