.post {

  text-align: right;

  @include mq-horizontal-layout {
    color: white;

    padding: $post-padding-layout-horizontal;

    transition: border 0.15s ease-in-out;
    border-right: $post-side-border-thickness solid rgba(0, 0, 0, 0);
    &:hover {
      border-right: $post-side-border-thickness solid rgba(255, 255, 255, 0.5);
    }
  }
  @include mq-vertical-layout {
    padding: $post-padding-layout-vertical;
    border-top: 1px solid white;
  }

  .title {
    font-size: 2.5rem;
    padding-bottom: 1rem;
    text-transform: lowercase;
    word-wrap: break-word;
  }

  .excerpt {
    font-weight: 200;
  }

}
