.share-toolbar {

  $item-size: 3rem;

  width: 100%;
  height: $item-size;

  display: flex;
  flex-direction: row-reverse;

  .share-item {

    width: $item-size;
    display: flex;
    align-items: center;
    justify-content: center;

    .action {
      display: none;
    }

    &:hover {
      width: auto;
      padding: 0 ($item-size / 3);
      .action {
        display: inline-block;
        padding-left: 0.5rem;
      }
    }

    &.twitter {
      color: white;
      background-color: #55acee;
    }
  }

}
