@import "utils";

.sidebar {

  $base-background-color: #353535;
  $font-color: #E4E4E4;

  $darkened-background-color: darken($base-background-color, 10%);

  $sidebar-bar-tb-padding-layout-horizontal: 1rem;
  $sidebar-bar-lr-padding-layout-horizontal: 2rem;
  $sidebar-bar-tb-padding-layout-vertical: 0.75rem;
  $sidebar-bar-lr-padding-layout-vertical: 1.5rem;

  @mixin sidebar-control-hover {
    transition: background-color 0.15s ease-in-out;
    background-color: $darkened-background-color;
    &:hover {
      background-color: $base-background-color;
    }
  }

  background-color: $darkened-background-color;

  @include mq-horizontal-layout {
    border-left: 1px solid white;
  }

  text-align: right;
  text-transform: lowercase;

  .logo {

    width: 100%;
    height: 8rem;

    background-position: center;
    background-size: cover;

  }

  .title {

    background-color: $base-background-color;

    box-sizing: border-box;
    width: 100%;

    @include mq-horizontal-layout {padding: 2rem;}
    @include mq-vertical-layout {padding: 1.5rem;}

    font-size: 2.5rem;
    color: $font-color;

    .description {
      font-size: 1.1rem;
    }

  }

  @import "sidebar_navigation";
  @import "social_links";

}
