.theme-attribution {

  @include mq-horizontal-layout {
    color: white;
  }

  font-size: 0.9rem;

  text-align: right;
  padding: 0.75rem;

  .theme-name, .theme-author {
    font-weight: 200;
  }

}

.post-template .theme-attribution {
  background-color: white;
  color: inherit;
}
