<div class="layout-detector"></div>

<script>
window.__themeCfg.layout = 'horizontal';

window.__themeCfg.detectLayout = function () {
  // Detect
  try {
    window.__themeCfg.layout = JSON.parse(getComputedStyle($('.layout-detector').get(0), ':after').content);
  } catch(e) {}
  // Affect things that need it
  /// Pagination 'of' text
  if (!window.__themeCfg.paginationOfText) {
    window.__themeCfg.paginationOfText = $('.pagination-of-text').text();
  }
  if (window.__themeCfg.layout === 'vertical') {
    $('.pagination-of-text').text('/');
  } else {
    $('.pagination-of-text').text(window.__themeCfg.paginationOfText);
  }
  /// Tag collections 'by' text
  if (!window.__themeCfg.tagPageByText) {
    window.__themeCfg.tagPageByText = $('.tag-header .by').text();
  }
  if (window.__themeCfg.layout === 'vertical') {
    $('.tag-header .by').text('');
  } else {
    $('.tag-header .by').text(window.__themeCfg.tagPageByText);
  }
}
$(window.__themeCfg.detectLayout);
$(window).resize(function () {setTimeout(window.__themeCfg.detectLayout, 100);});
</script>
