<div class="layout-detector"></div>

<script>
window._bleak.layout = 'horizontal';

window._bleak.detectLayout = function () {
  // Detect
  try {
    window._bleak.layout = JSON.parse(getComputedStyle($('.layout-detector').get(0), ':after').content);
  } catch(e) {}
  // Affect things that need it
  /// Content wrapper background
  if (!window._bleak.fullContentWrapperBackground) {
    window._bleak.fullContentWrapperBackground = $('.content-wrapper').css('background');
  }
  if (window._bleak.layout === 'vertical') {
    $('.content-wrapper').css('background', '');
  } else {
    $('.content-wrapper').css('background', window._bleak.fullContentWrapperBackground);
  }
  /// Pagination 'of' text
  if (!window._bleak.paginationOfText) {
    window._bleak.paginationOfText = $('.pagination-of-text').text();
  }
  if (window._bleak.layout === 'vertical') {
    $('.pagination-of-text').text('/');
  } else {
    $('.pagination-of-text').text(window._bleak.paginationOfText);
  }
  /// Tag collections 'by' text
  if (!window._bleak.tagPageByText) {
    window._bleak.tagPageByText = $('.tag-header .by').text();
  }
  if (window._bleak.layout === 'vertical') {
    $('.tag-header .by').text('');
  } else {
    $('.tag-header .by').text(window._bleak.tagPageByText);
  }
}
$(window._bleak.detectLayout);
$(window).resize(function () {setTimeout(window._bleak.detectLayout, 100);});
</script>
