<div id="disqus_thread"></div>
<script>

var disqus_config = function () {
  if (window.location) {
    this.page.url = '{{@blog.url}}{{url}}';
    this.page.identifier = 'post-{{id}}';
  }
};

if (window.__themeCfg.disqusUsername) {
  (function() { // DON'T EDIT BELOW THIS LINE
  var d = document, s = d.createElement('script');

  s.src = '//' + window.__themeCfg.disqusUsername + '.disqus.com/embed.js';

  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
  })();
} else {
  console.warn('Bleak supports Disqus commenting - put "\x3Cscript\>window.__themeCfg.disqusUsername = \'myDisqusName\';\x3C/script\>" in Ghost code injection to turn it on!');
}

</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
