<ul class="navigation">
  {{#foreach navigation}}
  <a href="{{url}}">
    <li class="navigation-item {{#if current}}current{{/if}} navigation-slug-{{slug}}">
      {{label}}
    </li>
  </a>
  {{/foreach}}
</ul>
