<nav class="pagination">
  {{#if prev}}
    <a class="pagination-element left direction" href="{{page_url prev}}">&lt;&lt;</a>
  {{/if}}
  <span class="pagination-element page-number">{{page}} <span class="pagination-of-text">of</span> {{pages}}</span>
  {{#if next}}
    <a class="pagination-element right direction" href="{{page_url next}}">&gt;&gt;</a>
  {{/if}}
</nav>
