<div class="social-links">

  <a class="social-link bitbucket hidden" target="_blank"><i class="fa fa-bitbucket"></i></a>
  <a class="social-link deviantart hidden" target="_blank"><i class="fa fa-deviantart"></i></a>
  <a class="social-link facebook hidden" target="_blank"><i class="fa fa-facebook"></i></a>
  <a class="social-link flickr hidden" target="_blank"><i class="fa fa-flickr"></i></a>
  <a class="social-link github hidden" target="_blank"><i class="fa fa-github"></i></a>
  <a class="social-link instagram hidden" target="_blank"><i class="fa fa-instagram"></i></a>
  <a class="social-link linkedin hidden" target="_blank"><i class="fa fa-linkedin"></i></a>
  <a class="social-link pinterest hidden" target="_blank"><i class="fa fa-pinterest"></i></a>
  <a class="social-link soundcloud hidden" target="_blank"><i class="fa fa-soundcloud"></i></a>
  <a class="social-link twitch hidden" target="_blank"><i class="fa fa-twitch"></i></a>
  <a class="social-link twitter hidden" target="_blank"><i class="fa fa-twitter"></i></a>
  <a class="social-link vimeo hidden" target="_blank"><i class="fa fa-vimeo"></i></a>
  <a class="social-link youtube hidden" target="_blank"><i class="fa fa-youtube"></i></a>

  <script>

  function formSocialMediaUrl(socialNetwork, username) {
    switch (socialNetwork) {
      case 'Bitbucket':
        return 'https://bitbucket.org/' + username;
      case 'Deviantart':
        return 'https://' + username + '.deviantart.com';
      case 'Facebook':
        return 'https://www.facebook.com/' + username;
      case 'Flickr':
        return 'https://www.flickr.com/' + username;
      case 'Github':
        return 'https://github.com/' + username;
      case 'Instagram':
        return 'https://www.instagram.com/' + username;
      case 'Linkedin':
        return 'https://www.linkedin.com/in/' + username;
      case 'Pinterest':
        return 'https://www.pinterest.com/' + username;
      case 'Soundcloud':
        return 'https://soundcloud.com/' + username;
      case 'Twitch':
        return 'http://www.twitch.tv/' + username;
      case 'Twitter':
        return 'https://twitter.com/' + username;
      case 'Vimeo':
        return 'https://vimeo.com/' + username;
      case 'Youtube':
        return 'https://www.youtube.com/user/' + username;
    }
  }

  function revealSocialLink(socialNetwork) {
    var usernameProp = socialNetwork.toLowerCase() + 'Username';
    if (window.__themeCfg[usernameProp]) {
      $('.social-link.' + socialNetwork.toLowerCase()).removeClass('hidden');
      $('.social-link.' + socialNetwork.toLowerCase()).attr('href', formSocialMediaUrl(socialNetwork, window.__themeCfg[usernameProp]));
    } else {
      console.warn('To add a ' + socialNetwork + ' profile link to your blog, put "\x3Cscript\>window.__themeCfg.' + usernameProp + ' = \'my' + socialNetwork + 'Username\';\x3C/script\>" in Ghost code injection!');
    }
  }

  function revealSocialLinks() {

    revealSocialLink('Bitbucket');
    revealSocialLink('Deviantart');
    revealSocialLink('Facebook');
    revealSocialLink('Flickr');
    revealSocialLink('Github');
    revealSocialLink('Instagram');
    revealSocialLink('Linkedin');
    revealSocialLink('Pinterest');
    revealSocialLink('Soundcloud');
    revealSocialLink('Twitch');
    revealSocialLink('Twitter');
    revealSocialLink('Vimeo');
    revealSocialLink('Youtube');

    $('.social-link:not(.hidden)').first().addClass('no-border-left');

  }

  $(revealSocialLinks);
  </script>

</div>
