{{!< default}}

<div class="index-posts">

  {{#is "tag"}}{{#tag}}
  <div class="tag-header">
    <span class="name">{{name}}</span>
    <br />
    <span class="tail">{{description}}</span>
  </div>
  {{/tag}}{{/is}}

  {{#foreach posts}}
    <a href="{{url}}">{{>index_post}}</a>
  {{/foreach}}
  {{#if pagination}}{{pagination}}{{/if}}

</div>
